[phases.setup]
nixPkgs = ["dotnet-sdk_8", "dotnet-aspnetcore_8"]

[phases.build]
cmds = [
  "dotnet restore",
  "dotnet publish BackendApp.csproj -c Release -o out"
]

[start]
cmd = "./out/BackendApp"
